html, body {
                height: 100%;
                margin: 0;
            }
            body {
                font-family: sans-serif;
            }
            core-scaffold {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            #core_toolbar {
                color: rgb(255, 255, 255);
                background-color: rgb(79, 125, 201);
            }
            #core_card {
                width: 96%;
                height: 300px;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;
                box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
                margin: 2%;
                background-color: rgb(255, 255, 255);
                text-align: left;
            }
            paper-fab {
                position: absolute;
                right: 20px;
                bottom: 20px;
            }